<p id="notice"><%= notice %></p>

<p>
  <strong>Authorname:</strong>
  <%= @book.AuthorName %>
</p>

<p>
  <strong>Bookname:</strong>
  <%= @book.BookName %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
